<div class="row">
<div class="col-lg-6">
<img src="images/writer.jpg" style="width:300px;height:300px">
</div>
<div class="col-lg-6" id="book_data">
<br/>
<br/>
<br/>
<br/>
<br/>
<ul>
  <li ng-repeat="item in singleInfo.bookInstance" style="type:none"> 
  <!-- // repeating in names  -->
  Book Name:{{item.name}}<br/>
  Author:{{item.authors}}<br/>
  Number of Pages:{{item.numberofPages}}<br/>
  Publisher:{{item.publisher}}<br/>
  Released:{{item.released | date:medium}}<br/>
  </li>
</ul>
</center><a href="#/books">Back &rarr;</a></center>
</div>
</div>