<div class="row">
<div class="col-lg-6">
<img src="images/writer.jpg" style="width:300px;height:300px">
</div>
<div class="col-lg-6" id="book_data">
<br/>
<br/>
<br/>
<br/>
<br/>
<Table>
<tr>
 <td>Book Name: {{item.name}}<td/>
 <td> Author:   {{item.authors}}<td/>
 <td> Number of Pages: {{item.numberofPages}}<td/> 
 <td> Publisher: {{item.publisher}}</td>
 <td> Released:{{item.released | date:medium}}</td>
 <td>
</center><a href="#/books">Back &rarr;</a></center></td>
 </tr>
</Table>
</div>
</div>